[submodule "vendor/cvc5"]
	path = vendor/cvc5
	url = https://github.com/cvc5/cvc5
[submodule "vendor/cadical"]
	path = vendor/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "vendor/symfpu"]
	path = vendor/symfpu
	url = https://github.com/martin-cs/symfpu.git
